Projeto-Poesia/models/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
Projeto-Poesia/models/**/*.pt filter=lfs diff=lfs merge=lfs -text
Projeto-Poesia/models/**/*.pth filter=lfs diff=lfs merge=lfs -text
